In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/liverpool_2019.csv')
df.sample(5)

,Unnamed: 0,bgcolor,dx,dy,edgecolor,frame,play,player,player_num,team,x,y,z
43655,2091,black,-0.081469,-0.015292,red,181,Liverpool [2] - 0 Salzburg,3570,NaN,defense,10.111070,68.313658,0.0
68720,1484,yellow,-0.505978,-0.202959,black,134,Liverpool [1] - 0 Watford,1944,NaN,defense,27.753712,31.496586,0.0
47289,1523,blue,0.160882,-0.054964,white,59,Genk 0 - [3] Liverpool,3837,NaN,defense,64.410856,65.610651,0.0
8813,2238,red,-0.178268,-0.050835,white,42,Fulham 0 - [1] Liverpool,9756,5.0,attack,38.095238,59.033613,0.0
49944,152,NaN,-0.275120,-0.367362,NaN,152,Liverpool [2] - 0 Man City,0,NaN,NaN,-0.680272,45.798319,0.0

In [3]:
game1 = pd.read_csv('data/LIV_[2]-1_CHE.csv')
game1['play'] = 'Liverpool [2] - 1 Chelsea'

In [4]:
game2 = pd.read_csv('data/Real_vs_Barcelona_Calma.csv')
game2['play'] = 'Barcelona 1 - [2] Real Madrid'

In [5]:
df_cat = pd.concat([df, game1, game2]).drop('Unnamed: 0', axis=1)
df_cat['play_id'] = df_cat.groupby('play').ngroup()
df_cat.to_csv('data/all_goals.csv', index=False)