In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('data/liverpool_2019.csv')
df.sample(5)

,Unnamed: 0,bgcolor,dx,dy,edgecolor,frame,play,player,player_num,team,x,y,z
60113,2269,red,-0.162583,0.003944,white,260,Liverpool [2] - 0 Everton,2131,NaN,attack,53.617776,71.920091,0.0
25757,317,red,-0.092822,0.025937,white,39,Liverpool [4] - 0 Barcelona,747,66.0,attack,98.684985,0.597179,0.0
28064,2624,red,0.080285,0.005827,white,122,Liverpool [4] - 0 Barcelona,24770,NaN,attack,77.443491,46.020603,0.0
3541,596,red,-0.218719,0.031478,blue,101,Bayern 0 - [1] Liverpool,1475,NaN,defense,86.270153,64.897978,0.0
12422,2004,purple,-0.386225,0.046384,red,205,Southampton 1 - [2] Liverpool,6593,NaN,attack,33.087385,45.027629,0.0

In [9]:
game1 = pd.read_csv('data/LIV_[2]-1_CHE.csv')
game1['play'] = 'Liverpool [2] - 1 Chelsea'

In [10]:
game2 = pd.read_csv('data/Real_vs_Barcelona_Calma.csv')
game2['play'] = 'Barcelona 1 - [2] Real Madrid'

In [17]:
pd.concat([df, game1, game2]).drop('Unnamed: 0', axis=1).to_csv('data/all_goals.csv', index=False)