In [1]:
import pandas as pd
from lib.pitch_control import plot_pitch_control, KNNPitchControl, SpearmanPitchControl, FernandezPitchControl
from lib.draw import pitch
import matplotlib.pyplot as plt
from time import time
from tqdm import tqdm
import numpy as np

In [2]:
df = pd.read_csv('data/all_goals.csv', low_memory=False)
df.edgecolor.fillna('white', inplace=True)
df.bgcolor.fillna('black', inplace=True)
df.sample(5)

,bgcolor,dx,dy,edgecolor,frame,play,player,player_num,team,x,y,z,coords,player_obj,num,name,play_id
65606,darkred,-0.423933,-0.158029,black,80,Bournemouth 0 - 3 Liverpool,12087,NaN,defense,34.747346,56.850198,0.0,NaN,NaN,NaN,NaN,2
32177,yellow,0.045559,-0.066645,green,72,Liverpool [3] - 0 Norwich,3270,NaN,defense,13.184582,52.254258,0.0,NaN,NaN,NaN,NaN,16
56683,red,-0.139204,0.014279,white,33,Liverpool [1] - 0 Everton,15026,NaN,attack,83.688998,72.623605,0.0,NaN,NaN,NaN,NaN,6
69169,red,-0.501472,-0.036548,white,133,Liverpool [1] - 0 Watford,4275,9.0,attack,41.765772,48.914255,0.0,NaN,NaN,NaN,NaN,7
48436,red,0.046892,0.073530,white,108,Genk 0 - [3] Liverpool,10053,NaN,attack,55.776677,22.933616,0.0,NaN,NaN,NaN,NaN,4

In [3]:
df = df[df.play == 'Liverpool [2] - 0 Porto']
df.sample(3)

,bgcolor,dx,dy,edgecolor,frame,play,player,player_num,team,x,y,z,coords,player_obj,num,name,play_id
15666,red,-0.022070,-0.007847,white,37,Liverpool [2] - 0 Porto,1060,66.0,attack,25.501129,91.686848,0.0,NaN,NaN,NaN,NaN,11
16312,blue,-0.118830,0.182196,white,98,Liverpool [2] - 0 Porto,1452,NaN,defense,17.629141,45.448164,0.0,NaN,NaN,NaN,NaN,11
16767,blue,-0.169452,-0.343916,white,163,Liverpool [2] - 0 Porto,1454,NaN,defense,10.295577,72.401156,0.0,NaN,NaN,NaN,NaN,11

In [4]:
knn_pitch_control_voronoi = KNNPitchControl()
knn_pitch_control_spearman = KNNPitchControl(lags=[5, 15, 25], smoothing=6)
knn_pitch_control_voronoi_single = KNNPitchControl(n_jobs=1)
knn_pitch_control_spearman_single = KNNPitchControl(lags=[5, 15, 25], smoothing=6, n_jobs=1)

In [5]:
a = []
for i in range(10):
    t0 = time()
    knn_pitch_control_voronoi = KNNPitchControl()
    t1 = time()
    a.append(t1-t0)
np.mean(a)

0.0037451982498168945

In [6]:
a = []
for i in range(10):
    t0 = time()
    knn_pitch_control_voronoi.predict(df)
    t1 = time()
    a.append(t1-t0)
np.mean(a)

0.15356361865997314

In [7]:
a = []
for i in range(10):
    t0 = time()
    knn_pitch_control_voronoi_single.predict(df)
    t1 = time()
    a.append(t1-t0)
np.mean(a)

0.14282557964324952

In [8]:
a = []
for i in range(10):
    t0 = time()
    knn_pitch_control_spearman.predict(df)
    t1 = time()
    a.append(t1-t0)
np.mean(a)

0.5752100467681884

In [9]:
a = []
for i in range(10):
    t0 = time()
    knn_pitch_control_spearman_single.predict(df)
    t1 = time()
    a.append(t1-t0)
np.mean(a)

0.6920559644699097